<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="EventShiftsDatabase" connectionString="DataSource=Z:\My Drive\Development\PJSK.Utility\PJSK.Utility.Data\SQLite Data Files\EventShifts.db" />-->
		<add name="EventShiftsDatabase" connectionString="DataSource=Z:\My Drive\Development\PJSK.Utility\PJSK.Utility.WPFApp.Publish\SQLite Data Files\EventShifts.db" />
	</connectionStrings>
	<appSettings>
		<!-- START EventShifts -->
		<add key="EventShifts_ImageOutputDirPath" value="D:\TEMP\Files\2022-08-13\"/>
		<add key="EventShifts_ImageDPI" value="96"/>
		<add key="EventShifts_P1TotalPowerBonus" value="1000"/>
		<!-- END EventShifts -->
	</appSettings>
</configuration>